<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Scheduler</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>current product</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>goods_id</th>
            <th>supplier</th>
            <th>goods_name</th>
            <th>goods_desc</th>
            <th>goods_spec</th>
            <th>brand_name</th>
            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
        </tr>
        </thead>
        <tbody>
        {% for item in datas_org %}
        <tr>
            <td>{{ item.goods_id }}</td>
            <td>{{ item.supplier_code }}</td>
            <td>{{ item.goods_name }}</td>
            <td>{{ item.goods_desc }}</td>
            <td>{{ item.goods_spec }}</td>
            <td>{{ item.brand_name }}</td>
            <td>{{ item.goods_original_price }}</td>
            <td>{{ item.goods_original_naked_price }}</td>
            <td>{{ item.goods_pact_price }}</td>
            <td>{{ item.goods_pact_naked_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <h1>similar products</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>goods_id</th>
            <th>supplier</th>
            <th>goods_name</th>
            <th>goods_desc</th>
            <th>goods_spec</th>
            <th>brand_name</th>
            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
        </tr>
        </thead>
        <tbody>
        {% for item in datas %}
        <tr>
            <td>{{ item.goods_id }}</td>
            <td>{{ item.supplier_code }}</td>
            <td>{{ item.goods_name }}</td>
            <td>{{ item.goods_desc }}</td>
            <td>{{ item.goods_spec }}</td>
            <td>{{ item.brand_name }}</td>
            <td>{{ item.goods_original_price }}</td>
            <td>{{ item.goods_original_naked_price }}</td>
            <td>{{ item.goods_pact_price }}</td>
            <td>{{ item.goods_pact_naked_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Add Bootstrap JS -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
